body {
    margin: 0;
    font-family: Arial;
    background: #1e1e1e;
    color: #eee;
}

.menu-container {
    padding: 30px;
}

h1 {
    margin-bottom: 20px;
}

/* INPUT BUSCA */
#buscaGlobal, #buscaFicha {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: none;
    outline: none;
}

/* GRID */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 15px;
}

/* TOP BAR */
.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* FORM */
.form-inline {
    display: flex;
    gap: 10px;
}

.form-inline input {
    padding: 8px;
    border-radius: 5px;
    border: none;
}

/* BOTÕES */
button {
    background: #333;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #555;
}

/* CARDS */
.card {
    background: #2a2a2a;
    padding: 10px;
    border-radius: 10px;

    display: flex;
    align-items: center;
    gap: 10px;

    cursor: pointer;
    transition: 0.2s;
}

.card:hover {
    background: #3a3a3a;
    transform: translateY(-2px);
}

/* PREVIEW */
.preview {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 8px;
}

.card small {
    color: #aaa;
    font-size: 12px;
}

/* MODAL */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.7);

    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none;
}

.modal-box {
    background: #2a2a2a;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

.modal-botoes {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.modal-botoes button {
    flex: 1;
}

#btnConfirmar {
    background: red;
}